.hero__container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.div__img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(50px);
}
svg {
  width: 100%;
}
.main__img {
  width: 60%;
}
.about {
  flex-direction: column;
  margin-top: 3em;
  text-align: center;
}
/* 
.about h1 {
  line-height: 1;
} */
.about__name {
  font-family: "Roboto", sans-serif;
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  text-align: justify;
}

.about__desc,
.about__contact {
  width: 100%;
  margin-top: 2.4em;
}
.about__contact {
  justify-content: center;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

/* animate image */

#head {
  animation: headMove infinite linear 2s;
  transform-origin: center;
}
#left-arm {
  animation: move-left-arm infinite linear 1s;
  transform-origin: center;
}

#right-arm {
  animation: move-right-arm infinite linear 1s;
  transform-origin: center;
}

#Smoke-big {
  animation: bigSmokeMove infinite 3s;
}

#Smoke-small {
  animation: SmallSmokeMove infinite 3s;
}

@keyframes SmallSmokeMove {
  0% {
    opacity: 1;
    transform: translate(35px, 50px);
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    transform: translate(35px, -21px);
  }
}
@keyframes bigSmokeMove {
  0% {
    opacity: 1;
    transform: translate(15px, 60px);
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    transform: translate(15px, -21px);
  }
}

@keyframes move-left-arm {
  0% {
    transform: translate(-4px, 382px);
  }
  25% {
    transform: translate(-0px, 370px);
  }
  50% {
    transform: translate(-10px, 382px);
  }
  75% {
    transform: translate(-0px, 370px);
  }
  100% {
    transform: translate(-4px, 382px);
  }
}
@keyframes move-right-arm {
  0% {
    transform: translate(193px, 370px);
  }
  25% {
    transform: translate(195px, 375px);
  }
  50% {
    transform: translate(199px, 373px);
  }
  75% {
    transform: translate(195px, 376px);
  }
  100% {
    transform: translate(193px, 370px);
  }
}

@keyframes headMove {
  0% {
    transform: translate(129.164px, 150px);
  }
  50% {
    transform: translate(130px, 140px);
  }
  100% {
    transform: translate(129.164px, 150px);
  }
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
